{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [
        "lib/**/*.{js,jsx,ts,tsx}"
      ]
    }
  ]
}